*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: lightgray;
}

nav {
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: flex-start;
}

nav div {
    display: flex;
    column-gap: 10px;
}

nav div .link {
    height: 100%;
}

/* todo Link css */

.link {
    cursor: pointer;
    color: white;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
    background-color: dodgerblue;
    padding: 0.5rem 1rem;
}

.finances {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 50px;
    background: white;
    width: 100%;
    padding: 1rem 2rem 6rem;
    border-radius: 20px;
}

.list {
    overflow-y: scroll;
    max-height: 440px;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.finances__item > p {
    border-bottom: lightblue 2px solid;
    padding: 1.5rem 6rem;
    margin-bottom: 0;
}

.finances-item {
    position: relative;
    border-bottom: lightgreen 1px solid;
    padding: 0.2rem 0.3rem;
}

.finances-item > button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.finances-item > button:hover {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.finances-item:hover {
    background-color: #ececec;
    transition: all 0.2s ease-in-out;
}

.finances-item__name {
    font-size: 20px;
    margin-bottom: 0;
}

.finances-item__value {
    margin-top: 0;
}

.dropdown {
    position: relative;
}

.dropdown__menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: darkcyan;
}

.dropdown__menu.open {
    display: block;
}

.dropdown__menu.open > div {
    display: flex;
    flex-direction: column;
}

.dropdown__menu.open > div > .link {
    background-color: transparent;
}

/* todo hover effect .dropdown__menu.open>div>.link */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal {
    width: 500px;
    min-height: 400px;
    background-color: white;
    position: relative;
    z-index: 3;
    border-radius: 20px;
    padding: 1rem;
}


.modal > form {
    padding-top: 2rem;
}

.modal > form > div {
    /* todo нормально отцентровать */
    width: 60%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    margin-left: 6.5rem;
}

.modal > form > div > input {
    width: 50%;
}

.modal > form > div > select {
    width: 50%;
}

.modal > form > button {
    margin-top: 2rem;
    margin-left: 8rem;
    width: 50%;
}

.modal__button {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 18px;
}

.modal__button:hover {
    box-shadow: 2px 1px 2px 1px black;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.finances > button {
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    border: lightblue 2px solid;
    border-radius: 40px;
}

